<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="greeters" type="ProviderModel.Configuration.ProviderSectionHandler, ProviderModel" />
    </configSections>
    <greeters defaultProvider="English">
        <providers>
            <add name="English" description="English provider" type="ProviderModel.Tests.Providers.EnglishGreeterProvider, ProviderModel.Tests" greetname="John Doe"></add>
            <add name="Spanish" description="Spanish provider" type="ProviderModel.Tests.Providers.SpanishGreeterProvider, ProviderModel.Tests" greetname="Juan Perez"></add>
            <add name="French" description="French provider" type="ProviderModel.Tests.Providers.FrenchGreeterProvider, ProviderModel.Tests" greetname="Monsieur Dupont"></add>
        </providers>
    </greeters>
</configuration>